h1 {
  color: #483D8B;
  text-align: center;
  font-family: impact;
  font-size: 80px;
}

h2 {
  font-style: italic;
  color: #9932CC;
  text-align:center;
}

h3 {
  font-family: impact;
  color: #6A5ACD;
  font-size: 40px;
}


p {
  font-family: sans-serif;
  color: #4B0082;
}

ul {
  font-size: 20px;
  line-height: 30px;
  color: #CD5C5C;
  list-style: none;
}

body {
  text-align: center;
  background-color: #FFE4E1;
}

.my-titles {
  border: 8px solid white;
  padding: 0.01%;
  margin: 1%;
  background-color: #FFF0F5;
}
