h1 {
  color: #483D8B;
  text-align: center;
  font-size: 80px;
  font-family: 'Playfair Display SC', serif;
  letter-spacing: 0.2em;
}

h2 {
  font-family: 'Playfair Display SC', serif;
  color: #9932CC;
  text-align:center;
}

h3 {
  font-family: 'Playfair Display SC', serif;
  color: #6A5ACD;
  font-size: 40px;
  letter-spacing: 0.1em
}


p {
  font-family: 'Playfair Display', serif;
  color: #4B0082;
  font-size:22px;
}

ul {
  font-size: 18px;
  line-height: 30px;
  color: #CD5C5C;
  list-style: none;
  font-family: 'Playfair Display', serif;
}

body {
  text-align: center;
  background-color: #FFE4E1;
}

.my-titles {
  border: 8px solid white;
  padding: 0.01%;
  margin: 1%;
  background-color: #FFF0F5;
}
